body {
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
}

#botoes-principais {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 40%;
}
