@font-face {
    src: url(fonts/Spooky\ Monster.otf);
    font-family: 'Spooky Monster';    
    font-size: 130px;
} 

body {
    background-image: url(imagens/fundo-tp2.jpg);
    background-size: cover;
}

html, body {
    overflow: hidden;
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 110px;
    font-family: 'Spooky Monster';
    color: rgb(221, 115, 28);
    text-shadow: 8px 8px 10px black;
}

#botoes-principais {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin-left: 35%;
}

#iniciar, #instrucoes, #criadoras {
    border-radius: 20px;
    border: 1px solid black;
    height: 80px;
    font-size: 40px;
    box-shadow: 0 5px 0 black;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#iniciar, #instrucoes {
    margin-bottom: 15px;
}

.zumbi-menu {
    position: absolute;
    bottom: 0;
    left: 1%;
}

#zumbi {
    width: 450px;
    height: 450px;
}

#zumbi-sombra {
    width: 450px;
    height: 450px;
}

#historico {
    position: absolute;
    top: 82%;
    right: 10%;
}

#controles {
    position: absolute;
    top: 82%;
    right: 2%;
}

#controles, #historico {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 5px 0 black;
    cursor: pointer;
}

#img-historico, #img-controles {
    height: 70px;
    width: 70px;
}

.botoes-principais:active, .botoes-canto:active {
    transform: translateY(7px);
    box-shadow: 0 2px 0 0 black;
}

#manchaDois {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10%;
    right: 20%;

}

#manchaTres {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: 0%;
}

#manchaUm {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 25%;
    bottom: 13%;
}
