body {
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
}

html, body {
    overflow: hidden;
}

h1 {
    text-align: center;
}

#botoes-principais {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 40%;
}

#zumbi-menu {
    position: absolute;
    top: 80%;
    left: 5%;
}
#historico {
    position: absolute;
    top: 86%;
    right: 11%;
}

#controles {
    position: absolute;
    top: 86%;
    right: 3%;
}

#controles, #historico {
    height: 100px;
    width: 100px;
}
